<h1>Company detail:</h1>
<div>
    <span *ngIf="!isEdit">
        <h3>
            {{company.name}} (quota: {{company.quota}} TB)
            <button class="btn btn-link" (click)="isEdit = !isEdit">
                <i class="fas fa-pencil-alt"></i>
            </button>
        </h3>
    </span>
    <span *ngIf="isEdit">
        <input class="form-control-sm m-1" name="name" type="text" [ngModel]="company.name" #name="ngModel" required>
        <input class="form-control-sm my-1 mr-1" name="quota" type="number" style="width:6em" [ngModel]="company.quota"
               #quota="ngModel" required>
        <button [disabled]="name.invalid || quota.oninvalid" class="btn btn-success btn-sm"
                (click)="onSave(name, quota)">Save</button>
        <button class="btn btn-outline-secondary btn-sm" (click)="onCancel()">Cancel</button>
    </span>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees | paginate: { itemsPerPage: 10, currentPage: page }">
        <td>{{employee.name}}</td>
        <td><a href="mailto: {{employee.email}}">{{employee.email}}</a></td>
    </tr>
    </tbody>
</table>
<div>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
