<h1>Companies:</h1>
<button type="button" class="btn btn-default" routerLink="/traffics/generate">Generate traffics</button>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Quota (TB)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let company of companies | paginate: { itemsPerPage: 10, currentPage: page }">
        <td>{{company.name}}</td>
        <td>{{company.quota}}</td>
        <td>
            <!--<button class="btn btn-default" disabled>Edit</button>-->
            <button class="btn btn-default" name="delete"
                    (click)="deleteCompany(company.id)">Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>
<div class="has-text-centered">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>

<div class="row">
    <div class="col-sm-4">
        <button class="btn btn-default" (click)="openForm()">Add company</button>
        <form #addCompanyForm="ngForm" *ngIf="isViewable">
            <div class="form-group">
                <label>Name:</label>
                <input class="form-control" name="name" type="text" [(ngModel)]="name" required>
            </div>
            <div class="form-group">
                <label>Quota (TB):</label>
                <input class="form-control" name="quota" type="number" [(ngModel)]="quota" required>
            </div>
            <div class="form-group">
                <button [disabled]="addCompanyForm.invalid" class="btn btn-default"
                        style="background-color: mediumseagreen; color: white;"
                        (click)="addCompany(addCompanyForm)">
                    Save
                </button>
                <button class="btn btn-default" (click)="closeForm(addCompanyForm)">Cancel</button>
            </div>
        </form>
    </div>
    <div>
        <div class="row">
            <div class="col-sm-4">
                <select class="form-control" name="month" [(ngModel)]="selectedMonth" #month="ngModel">
                    <option selected disabled value="0">Choose a month</option>
                    <option *ngFor="let month of months" [value]="month.value">
                        {{month.viewValue}}
                    </option>
                </select>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-default" [disabled]="month.pristine" type="submit"
                        routerLink="/report/{{selectedMonth}}">
                    Report
                </button>
            </div>
        </div>
    </div>
</div>