<h1>Employees:</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Company</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees | paginate: { itemsPerPage: 10, currentPage: page }">
        <td>{{employee.name}}</td>
        <td><a href="mailto: {{employee.email}}">{{employee.email}}</a></td>
        <td>{{employee.company}}</td>
        <td>
            <button class="btn btn-default btn-sm" routerLink="/employees/{{employee.id}}/edit">Edit</button>
            <button class="btn btn-danger btn-sm" (click)="deleteEmployee(employee.id)">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>

<div class="row">
    <div class="col-sm-4">
        <button class="btn btn-default" (click)="openForm()">Add employee</button>
        <form #addEmployeeForm="ngForm" *ngIf="isViewable">
            <div class="form-group">
                <label for="name">Name:</label>
                <input class="form-control" name="name" id="name" type="text" [(ngModel)]="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-control" name="email" id="email" type="email" [(ngModel)]="email" required email>
            </div>
            <div class="form-group">
                <label for="company">Company:</label>
                <select class="form-control" name="company" id="company" [(ngModel)]="company" required>
                    <option *ngFor="let company of companies" [value]="company.value">
                        {{company.viewValue}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <button [disabled]="addEmployeeForm.invalid" class="btn btn-success"
                        (click)="addEmployee(addEmployeeForm)">
                    Save
                </button>
                <button class="btn btn-default" (click)="closeForm(addEmployeeForm)">Cancel</button>
            </div>
        </form>
    </div>
</div>